*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    
}
/* fonts {
        font-family: 'Playfair Display', serif;
        font-family: 'Roboto', sans-serif;
    } */

img {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1.3125rem;
    
}

h1,h2{
    margin-top: 0;
}
.container{
    max-width: 1128px;
    margin: 0 auto;
    width: 85%;
    
}

section{
    padding: 4em 0;
}


.hero{
    display: flex;
    align-items: center;
    min-height: 660px;
    background-color: #F3EED9;
    text-align: center;
}
.hero__text{
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0;
    color: #222C2A;
}
.hero__title{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 900;
    color: #824936;
}


.section__title{
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    color: #F3EED9;
    margin: 0 0 0.25em;

}
.section__title--dark{
    color: #824936;
}
.section__paragraph{
    color: white;
    font-weight: 400;
}
.section__paragraph--dark{
    color: #222C2A;
}

.section__two{
    background-color: #222C2A;
}

.section__three{
    background-color: #824936;
}

@media (min-width:850px){
    .row{
        display: flex;
    }
    .col{
        width: 100%;
    }
    .col+.col{
        margin-left: 3em;
    }
    .text-center{
        text-align: center;
    }
}