*, *::after , *::before {
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;    
*/

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;

}
h1,h2,h3,h4{
    margin-top: 0;
    color: #A59678;
    font-family: 'Oswald', sans-serif;
    font-size: 0;
    line-height: 1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
}

.light__dark--background{
    background-color: #2d3039;
}
.dark--background{
    background-color: #2E323F ;
}

.light--background{
    background-color: #dedede;
}
.padding__main--contents{
    padding: 7em 0 ;
}
.padding__sub--contents--card{
    padding: 2em 0;
}

.text--gold{
    color: #A59678;
}
.text--white{
    color: #ffff;
}
.text--center{
    text-align: center;
}

footer{
    margin-top: 4em;
}

.hero__section--title > h1{
    font-size: clamp(3rem, 3.5vw, 4rem);
}
.hero__section--text > p{
    margin-bottom: 2.5em;
    font-size: 1.5rem;
}
.hero__section--cta{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #A59678;
    border-radius: 100px;
    font-family: 'Oswald', sans-serif; 
    font-size: clamp(1.41rem , 2.5vw , 1.5rem);
    padding: .5em 1.5em;

}


.content__section{
    padding: 4em 0 0.75em;
}
.card__section{
    margin-top: 2em;
}
.semi__content--title{
    font-size: 1.875rem;
}
.semi__content--text{
    font-size: 1.125rem;
}

.content__section--title{
    font-size: 2.25rem;
}
.content__section--text{
    font-size: 1.3125rem;
}

.card__section--title{
    font-size: 1.875rem;
}
.card__section--text{
    font-size: 1.125rem;
}
.footer__section--title{
    font-size: 2.5rem;
}
.footer__section--subtitle{
    font-size:  1.3125em;
}

@media (min-width:700px) and (max-width:1000px){
    :root{
        font-size: 14px;

    }
    .triple--flex{
        display: flex;

    }
    .card__section + .card__section {
        margin-left: .5rem;
    }
}

@media  (min-width:1000px) {
    .row{
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
    }
    .triple--flex{
        display: block;
    }

    .hero__section--title {
        width: 100%;
    }
    .hero__section--title > h1{
        font-size: clamp(4rem, 10vw , 5rem);
    }
    .hero__section--text{
        align-self: center;
        margin-left: 4rem;
    }

    .semi__content{
        text-align: center;
    }
    .semi__content--section + .semi__content--section {
        margin-left: 3rem;
    }

    .card__section:nth-child(1){
        margin-top: 5em;
    }

    .footer__section{
        width: 15%;
    }
    .footer__section--about{
        width: 40%;
    }
    .footer__section--subtitle{
        line-height: 1.2;
    }

    .footer__section--title{
        font-size: clamp(3.5rem, 3.5vw , 4rem);
    }



    .content__section{
        margin-right: 6.5em;
        max-width: 55%;
    }
}